##### import pandas as pd

In [2]:
plant_data = pd.read_csv("status_from_USDA_MOSHER.csv")

In [3]:
animal_data = pd.read_csv("status_from_AWI_MOSHER.csv")

In [4]:
animal_data.set_index("Unnamed: 0")

,Common Name,Scientific Name,Status,Taxon Group
Unnamed: 0,,,,
0,Addax,Addax nasomaculatus,Endangered,Mammal
1,"Anoa, lowland",Bubalus depressicornis,Endangered,Mammal
2,"Anoa, mountain",Bubalus quarlesi,Endangered,Mammal
3,"Antelope, giant sable",Hippotragus niger variani,Endangered,Mammal
4,"Antelope, Tibetan",Panthalops hodgsonii,Endangered,Mammal
...,...,...,...,...
1468,"Coral, lobed star",Orbicella annularis,Threatened,Coral
1469,"Coral, mountainous star",Orbicella faveolata,Threatened,Coral
1470,"Coral, pillar",Dendrogyra cylindrus,Threatened,Coral
1471,"Coral, rough cactus",Mycetophyllia ferox,Threatened,Coral
1472,"Coral, staghorn",Acropora cervicornis,Threatened,Coral

In [5]:
plant_data["Taxon Group"] = "Vascular Plant"
plant_data.head()

,Symbol,Synonym Symbol,Scientific Name,Common Name,Status,Taxon Group
0,ABGU,NaN,Abies guatemalensis Rehder,Guatemalan fir,T,Vascular Plant
1,ABMA5,NaN,Abronia macrocarpa L.A. Galloway,large-fruited sand-verbena,E,Vascular Plant
2,ABER,NaN,Abutilon eremitopetalum Caum,NaN,E,Vascular Plant
3,ABME2,NaN,Abutilon menziesii Seem.,ko`oloa`ula,E,Vascular Plant
4,ABSA2,NaN,Abutilon sandwicense (O. Deg.) Christoph.,NaN,E,Vascular Plant

In [6]:
plant_data.loc[plant_data.Status == "T", "Status"] = "Threatened"

In [7]:
plant_data.loc[plant_data.Status == "E", "Status"] = "Endangered"

In [8]:
plant_data = plant_data[["Common Name", "Scientific Name", "Status", "Taxon Group"]]

In [9]:
plant_data.head()

,Common Name,Scientific Name,Status,Taxon Group
0,Guatemalan fir,Abies guatemalensis Rehder,Threatened,Vascular Plant
1,large-fruited sand-verbena,Abronia macrocarpa L.A. Galloway,Endangered,Vascular Plant
2,NaN,Abutilon eremitopetalum Caum,Endangered,Vascular Plant
3,ko`oloa`ula,Abutilon menziesii Seem.,Endangered,Vascular Plant
4,NaN,Abutilon sandwicense (O. Deg.) Christoph.,Endangered,Vascular Plant

In [10]:
combined_dataframe = pd.concat([animal_data, plant_data])

//anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [11]:
combined_dataframe

,Common Name,Scientific Name,Status,Taxon Group,Unnamed: 0
0,Addax,Addax nasomaculatus,Endangered,Mammal,0.0
1,"Anoa, lowland",Bubalus depressicornis,Endangered,Mammal,1.0
2,"Anoa, mountain",Bubalus quarlesi,Endangered,Mammal,2.0
3,"Antelope, giant sable",Hippotragus niger variani,Endangered,Mammal,3.0
4,"Antelope, Tibetan",Panthalops hodgsonii,Endangered,Mammal,4.0
...,...,...,...,...,...
824,A`e,Zanthoxylum dipetalum H. Mann var. tomentosum ...,Endangered,Vascular Plant,NaN
825,A`e,Zanthoxylum hawaiiense Hillebr.,Endangered,Vascular Plant,NaN
826,St. Thomas prickly-ash,Zanthoxylum thomasianum (Krug & Urb.) Krug & U...,Endangered,Vascular Plant,NaN
827,Texas wild-rice,Zizania texana Hitchc.,Endangered,Vascular Plant,NaN
828,Florida ziziphus,Ziziphus celata W.S. Judd & D.W. Hall,Endangered,Vascular Plant,NaN

In [12]:
combined_dataframe = combined_dataframe.drop("Unnamed: 0", 1)

In [13]:
combined_dataframe

,Common Name,Scientific Name,Status,Taxon Group
0,Addax,Addax nasomaculatus,Endangered,Mammal
1,"Anoa, lowland",Bubalus depressicornis,Endangered,Mammal
2,"Anoa, mountain",Bubalus quarlesi,Endangered,Mammal
3,"Antelope, giant sable",Hippotragus niger variani,Endangered,Mammal
4,"Antelope, Tibetan",Panthalops hodgsonii,Endangered,Mammal
...,...,...,...,...
824,A`e,Zanthoxylum dipetalum H. Mann var. tomentosum ...,Endangered,Vascular Plant
825,A`e,Zanthoxylum hawaiiense Hillebr.,Endangered,Vascular Plant
826,St. Thomas prickly-ash,Zanthoxylum thomasianum (Krug & Urb.) Krug & U...,Endangered,Vascular Plant
827,Texas wild-rice,Zizania texana Hitchc.,Endangered,Vascular Plant
828,Florida ziziphus,Ziziphus celata W.S. Judd & D.W. Hall,Endangered,Vascular Plant

In [14]:
combined_dataframe.to_csv("status_all_taxon_MOSHER.csv")